.name-nav {
    background-color: turquoise;
    padding: 20px;
    margin-left: 20px;
    color: white;
    font-family:  serif, "Times New Roman", Times;
    font-size: 18px;
    font-weight: bold;
}

